.footer-container{
    height: 25vh;
    background-color: white;
    // z-index: 999;
    // border: 1px solid black;
    color: rgba(107, 107, 107, 0.814);
    .footer-content{
        width: 60%;
        margin: auto;
        padding-top: 30px;
        .language{
            span{
                font-size: 13px;
                margin-right: 12px;
            }
        }
        .options{
            display: flex;
            flex-wrap: wrap;
            span{
                font-size: 13px;
                margin-right: 17px;
            }
        }
    }
}