.home-container{
    z-index: 1;
    .home-content{
        padding: 10px;
        height: calc(100vh - 80px);
        display: flex;
        .left-content{
            width: 20%;
            height: inherit;
            min-width: 250px;
        }
        .mid-content{
            width: 60%;
            // border: 1px solid red;
            min-width: 500px;
        }
        .right-content{
            width: 20%;
            min-width: 250px;
            height: inherit;
        }

        /// định nghĩa riêng
        .title{
            font-size: 18px;
            font-weight: bold;
            padding: 10px;
            color: gray;
        }
    }
}