.home-container{
    z-index: 1;
    .home-content{
        padding: 10px;
        height: calc(100vh - 80px);
        display: flex;
        .left-content{
            width: 20%;
            height: inherit;
            min-width: 250px;
        }
        .mid-content{
            width: 60%;
            // border: 1px solid red;
            min-width: 500px;
        }
        .right-content{
            width: 20%;
            min-width: 250px;
            height: inherit;
        }

        /// định nghĩa riêng
        .title{
            font-size: 18px;
            font-weight: bold;
            // padding: 10px;
            color: gray;
        }
        .item-row {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 10px;
            transition: 0.1s;
            /* border-radius: 5px; */
            cursor: pointer;
            // margin-top: 10px;
            // padding: 2px;
            // padding-left: 10px;
        }
        .item-image {
            height: 35px;
            width: 35px;
            background-position: center;
            background-size: cover;
            border-radius: 3px;
            margin-right: 10px;
        }
    }
}