.home-container{
    z-index: 1;
    .home-content{
        padding: 10px;
        height: calc(100vh - 80px);
        display: flex;
        .left-content{
            width: 20%;
            height: fit-content;
            min-width: 200px;
        }
        .mid-content{
            width: 60%;
            border: 1px solid red;
        }
        .right-content{
            width: 20%;
            min-width: 200px;
        }
    }
}