.scroll-container {
    width: 100%;
    height: inherit; /* Chiều cao cố định của container, có thể điều chỉnh theo nhu cầu */
    overflow-y: auto; /* Hiển thị scrollbar khi nội dung vượt qua chiều cao */
}
/* Tùy chỉnh thanh cuộn trên trình duyệt Chrome */
.scroll-container::-webkit-scrollbar {
    width: 10px; /* Chiều rộng của thanh cuộn */
}

  /* Tùy chỉnh gạch trên thanh cuộn */
.scroll-container::-webkit-scrollbar-thumb {
    background-color: #8888885e; /* Màu của thanh cuộn */
    border-radius: 5px; /* Độ cong của gạch */
}
.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #0000005f;
}